@use "../../abstracts" as *;

.skills__item {
  position: relative;

  &-title {
    z-index: 1;

    margin: 0;

    letter-spacing: 0.1em;

    font-family: $font-main;
    font-size: 1.25rem;

    @include abs-position;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: $gap;
  }

  &-image {
    background-color: $color-primary;
    background-position: center;
    background-size: cover;

    @include abs-position;
  }

  &-overlay {
    background-color: rgba($color-primary, 0.8);

    @include abs-position;
  }

  &:hover {
    .skills__item {
      &-overlay {
        opacity: 0.95;
      }

      &-image {
        transform: scale(1.1);
      }

      &-link {
        color: $color-accent;
      }
    }
  }
}

@for $i from 1 through 9 {
  .skills__item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
